
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChatUnavailabel</title>
    <link rel="stylesheet" href="~/Content/Css/ChatUnavailabel.css"/>
</head>
<body>
    <div class="div-warn">
       客服正忙<br />
       请稍后再试
    </div>
</body>
</html>
